{% extends 'index.html'%}
{% block content %}
{% load static %}
<div class="container">

<!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
    <!-- <div class="content-about content-checkout-page woocommerce"> -->

<div class="row">
    
<div class="col-md-12 col-sm-12 col-ms-12 ">
    <div class="check-billing">
            <form class="form-my-account" method="POST" action="{% url 'userAddAddress' %}"> 
            {% csrf_token %}
            <h2 class="title title18 font-bold text-uppercase">Add Your Address</h2>
            <!-- {% if address %}

            {% else %} -->
            <p class="clearfix box-col2">
                <input type="text" name="first_name" value="First Name *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />

                <input type="text" name="last_name" value="last name *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
            </p>
             <p><input type="text" name="email" value="Email *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /> 
          </p>
          <p>
            <input type="text" name="phone" value="phone *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />

          </p>
            <p class="clearfix box-col2">
                 <input type="text" name= "country" value="Country *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /> 
                 <input type="text" name= "state" value="State *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /> 

                
            </p>
            
            <p><input type="text" name="address_line_1"  required value="Address  *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p>
            <!-- <p><input type="text" name="address_line_2" value="Address 2 *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p> -->
            <p class="clearfix box-col2">
                <input type="text" name="pincode" value="Postcode / Zip" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                <input type="text" name="city" value="Town / City *" required onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
            </p>
            <!-- {% endif %} -->
            <!-- <p>
                <input type="checkbox"  id="remember" /> <label for="remember">Create an account?</label>
            </p> -->

		    <input type="submit" data-value="Place order" value="Save" id="place_order" name="woocommerce_checkout_place_order" class="button alt bg-color">

        </form>
        <br>
    </div>
</div>
</div>
</div>


{% endblock %}