{% extends 'index.html'%}
{% block content %}
{% load static %}


<div class="wrap-bread-crumb">
	<div class="container">
		<div class="bread-crumb">
			<a href="{% url 'userdetails' %}">User Profile</a>
			<!-- <a href="">Wishlist</a> -->
			<a href="{% url 'useraddress' %}">Address</a>
			<a href="{% url 'my_order' %}">Order Details</a>

			<!--<strong>Clothing</strong>-->
		</div>
	</div>
</div>

<section id="content">
	<div class="content-page">
		<div class="container">
			<div class="content-about content-cart-page woocommerce product_data">
				<h2 class="title30 play-font text-uppercase font-bold dark" style="text-align: center;">Order Details</h2>

				<!-- <div class="contact-page-info "> -->

					<!-- <div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="contact-box contact-address-box">
								<span class="dark"><i class="fa fa-home"></i></span>
								<label class="title16 dark"> SHIPPING ADDRESS:</label>
								<p class="desc">{{orderItem.order.address.fname}} {{orderItem.order.address.lname}}</p>
								<p class="desc">{{orderItem.order.address.Address}} </p>
								<p class="desc"> PIN : {{orderItem.order.address.pincode}},{{orderItem.order.address.city}}, {{orderItem.order.address.state}},{{orderItem.order.address.country}}</p>
							</div>
						</div> -->
						<!-- <div class="col-md-4 col-sm-7 col-xs-12">
							<div class="contact-box">
								<span class="dark"><i class="fa fa-phone"></i></span>
								<ul class="list-inline-block">
									<li>
										<label class="title16 dark">PHONES:</label>
									</li>
									<li>
										<span class="dark">800-6688-999;</span>
										<span class="dark">800-8866-404</span>
									</li>
								</ul>
							</div>
							<div class="contact-box">
								<span class="dark"><i class="fa fa-print"></i></span>
								<ul class="list-inline-block">
									<li>
										<label class="title16 dark">Fax:</label>
									</li>
									<li>
										<span class="dark">800-6969-0044;</span>
									</li>
								</ul>
							</div>
						</div> -->
						<!-- <div class="col-md-3 col-sm-5 col-xs-12">
							<div class="contact-box contact-email-box">
								<span class="dark"><i class="fa fa-envelope"></i></span>
								<label class="title16 dark">e-mail:</label>
								<p class="desc"><a href="#" class="dark">themefusion@gmail.com</a></p>
							</div>
						</div> -->

					<!-- </div> -->

					<!----product details-->

					<div class="content-about content-cart-page woocommerce product_data">
						<form>
							
							<div class="table-responsive ">
								<table class="shop_table cart table">
									<thead>
										<tr>
											<th class="product-remove">Date</th>
											<th class="product-thumbnail">&nbsp;</th>
											<th class="product-name">Product</th>
											<th class="product-price">Price</th>
											<th class="product-quantity">Quantity</th>
											<th class="product-quantity">Status</th>

											<th class="product-quantity">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for i in orderItem %}
										<tr class="cart_item">
											<td class="product-remove">
												<p>{{i.created_at}}</p>
											</td>
											<td class="product-thumbnail">
												<a href="#"><img  src="/media/{{i.product.images}}" alt=""/></a>					
											</td>
											<td class="product-name" data-title="Product">
												<a href="{{ cart_item.product.get_url }}">{{i.product.product_name}}</a>					
											</td>
											<td class="product-price" data-title="Price">
												<span class="amount">${{i.product.price}}</span>					
											</td>

											<td class="product-quantity" data-title="Quantity">
												<p>{{i.quantity}}</p>
											</td>

											<td class="product-quantity" data-title="Quantity">
												{% if i.status == 'Cancelled' or i.status == 'Returned' %}
												<p id="order_status{{ forloop.counter }}">{{i.status}}</p>
												<p id="order_status{{ forloop.counter }}">{{i.reason}}</p>
												{% else %}

												{% endif %}
											</td>

											<td class="product-subtotal" data-title="Total">
												{% if i.order.status == 'Cancelled' or i.order.status == 'Shipped' or i.status == 'Returned' or i.status == 'Cancelled' %}

												{% elif   i.order.status == 'placed'  %}
												<a  role="button"  class="btn noHover btn-dark " onclick="orderCancel('{{i.id}}','order_status{{ forloop.counter }}')"><b>cancel</b></a>

												{% elif i.order.status == 'Delivered' %}
												<a  role="button"  class="btn-bg-dark" onclick="orderReturn('{{i.id}}','order_status{{ forloop.counter }}')"><b>Return</b></a>

												{% endif %}


											</td>
										</tr>
										{% endfor %}
									
										
										
									</tbody>
								</table>
								
								
							</div>
						</form></div>
						<h5>
							Shipping Address: <b>{{order.address.Address}}</b>

						</h5>
						<h5>
						Order Total : <b>	{{order.order_total}}</b>
						</h5>
						<h5>
							Payment Mode : <b>{{order.pay_method}}</b>

						</h5>


					
	
						


				</div>


    </div>
    </div>
    </div>
    </section>

	<script>

function orderCancel(order_id, status) {
		var status_id = $('#' + status)

		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes'
		}).then((result) => {
			if (result.isConfirmed) {

				$.ajax({
					url: "{% url 'order_cancel' %}",
					method: "post",
					headers: {
						'X-CSRFToken': '{{ csrf_token }}'
					},
					data: {
						"order_id": order_id
					}
				}).done((res) => {
					Swal.fire(
						'Successfull!',
						'Product is cancelled .',
						'success'
					).then(() => {
						location.reload()
						console.log(res.status)
						$(status_id).text(res.status)

					})
				}).fail((err) => {

				})

			}
		})
	}
	function orderReturn(order_id, status) {
		var status_id = $('#' + status)

	// 	Swal.fire({
	// 		title: 'Are you sure want to return this?',
	// 		text: "You won't be able to revert this!",
	// 		icon: 'warning',
	// 		showCancelButton: true,
	// 		confirmButtonColor: '#3085d6',
	// 		cancelButtonColor: '#d33',
	// 		confirmButtonText: 'Yes'
	// 	}).then((result) => {
	// 		if (result.isConfirmed) {

	// 			$.ajax({
	// 				url: "{% url 'order_return' %}",
	// 				method: "post",
	// 				headers: {
	// 					'X-CSRFToken': '{{ csrf_token }}'
	// 				},
	// 				data: {
	// 					"order_id": order_id
	// 				}
	// 			}).done((res) => {
	// 				Swal.fire(
	// 					'Returned!',
	// 					'Your product has been Returned.',
	// 					'success'
	// 				).then(() => {
	// 					location.reload()
	// 					console.log(res.status)
	// 					$(status_id).text(res.status)

	// 				})
	// 			}).fail((err) => {

	// 			})

	// 		}
	// 	})
	// }

	Swal.fire({
		title: 'Enter the Reason',
		input: 'text',
		inputAttributes: {
			autocapitalize: 'on'		
		},
		showCancelButton: true,
		confirmButtonText: 'Submit',
		showLoaderOnConfirm: true,
	})
		// preConfirm: (login) => {
		// 	return fetch(`//api.github.com/users/${login}`)
		// 	.then(response => {
		// 		if (!response.ok) {
		// 		throw new Error(response.statusText)
		// 		}
		// 		return response.json()
		// 	})
		// 	.catch(error => {
		// 		Swal.showValidationMessage(
		// 		`Request failed: ${error}`
		// 		)
		// 	})
		// },

	

	.then(function(result) {
		if (result.isConfirmed) {
			var reason = result.value;
			console.log('REason entered', reason)

			$.ajax({
				url: "{% url 'order_return' %}",
				method: "post",
				headers: {
					'X-CSRFToken': '{{ csrf_token }}'
				},
				data: {
					"order_id": order_id,
					'text': reason
				}
				
			}).done((res) => {
				Swal.fire(
					'Returned!',
					'Your product has been Returned.',
					'success'
				).then(() => {
					location.reload()
					console.log(res.status)
					$(status_id).text(res.status)

				})
			}).fail((err) => {

			})

		}
	})
}



		// allowOutsideClick: () => !Swal.isLoading()
		// }).then((result) => {
		// if (result.isConfirmed) {
		// 	Swal.fire({
		// 	title: `${result.value.login}'s avatar`,
		// 	imageUrl: result.value.avatar_url
		// 	})
		// }
		// })
	
	</script>
            


{% endblock %}