{% extends 'index.html'%}
						{% block content %}
						{% load static %}


                        <div class="wrap-bread-crumb">
                            <div class="container">
                                <div class="bread-crumb">
                                    <a href="{% url 'userdetails' %}">User Profile</a>
                                    <!-- <a href="">Wishlist</a> -->
                                    <a href="{% url 'useraddress' %}">Address</a>
                                    <a href="{% url 'my_order' %}">Order Details</a>

                                    <!--<strong>Clothing</strong>-->
                                </div>
                            </div>
                        </div>

                        <section id="content">
                            <div class="content-page">
                                <div class="container">
                                    <div class="content-about content-contact-page">
                                       
                                    <div class="contact-page-info ">
                                            <div class="row" style="display: flex;">
                                                <br>
                                                <div class="col-md-5 col-sm-12 col-xs-12">
                                                    <h2 class="title30 play-font dark font-bold ">Haiiii,  {{user.username}}</h2>
                                                    <br>
                                                    <div class="contact-box contact-address-box">
                                                        <span class="dark"><i class="fa-solid fa-user" style="color: #110f70;"></i></span>
                                                        <label class="title16 dark">Details</label>
                                                        <p class="desc">{{user.first_name}} {{user.last_name}} </p>
                                                        <p class="desc">{{user.email}} </p>
                                                        <p class="desc">{{user.phone_number}} </p>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-4 col-sm-7 col-xs-12">
                                                    <div class="contact-box">
                                                        <span class="dark"><i class="fa fa-phone"></i></span>
                                                        <ul class="list-inline-block">
                                                            <li>
                                                                <label class="title16 dark">PHONES:</label>
                                                            </li>
                                                            <li>
                                                                <span class="dark">800-6688-999;</span>
                                                                <span class="dark">800-8866-404</span>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                    <!-- <div class="contact-box">
                                                        <span class="dark"><i class="fa fa-print"></i></span>
                                                        <ul class="list-inline-block">
                                                            <li>
                                                                <label class="title16 dark">Fax:</label>
                                                            </li>
                                                            <li>
                                                                <span class="dark">800-6969-0044;</span>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                    <!-- <div id="content">
                                                        <div class="content-page woocommerce"> -->
                                                            <!-- <div class="container">
                                                                <div class="row"> -->
                                                                    <div class="col-md-6 mx-auto">
                                                                        <h4 class="title-shop-page dark font-bold play-font">Edit  Profile</h4>
                                                                        {% for i in messages %}
                                                                        <p style="color: red;">{{i}}</p>
                                                                        {% endfor %}
                                                                        <div class="my-profile-box register-content-box">
                                                                            <div class="form-my-account">
                                                                                <form action="{% url 'editProfile' %}">
                                                                              
                                                                                <p>
                                                                                    <label>Name <span class="required">*</span></label>
                                                                                    <input type="text" name="firstname" id="user-name" placeholder="{{users.username}}" />
                                                                                </p>


                                                                                <p>
                                                                                    <label>Phone Number <span class="required">*</span></label>
                                                                                    <input type="text" name="ph" placeholder="{{users.phone_number}}" id="ph" oninput="return validatephnumber()"/>
                                                                                    <span id="ph-error" style="color: red;"></span>
                                                                                </p>
                                                                                <h3 class="title18 title-change-pasword">Password change</h3>
                                                                                <p>
                                                                                    <label>Current password (leave blank to leave unchanged)</label>
                                                                                    <input type="text" name="current-password" oninput="return validateCurrentPassword()" id="current-password-check" />
                                                                                    <span id="current-password-error" style="color: red;"></span>
                                                                                </p>
                                                                                <p>
                                                                                    <label>New password (leave blank to leave unchanged)</label>
                                                                                    <input type="text" name="new-password" oninput="return validateNewPassword()" id="new-password-check"/>
                                                                                    <span id="new-passsword-error" style="color: red;"></span>
                                                                                </p>
                                                                                <p>
                                                                                    <label>Confirm new password</label>
                                                                                    <input type="text" name="confirm-password" oninput="return validateNewConfirmPassword()" id="confirm-new-password" />
                                                                                    <span id="confirm-password-error" style="color: red;"></span>
                                                                                </p>
                                                                                <p>
                                                                                    <input type="submit" class="register-button save-change" id="edit-submit" onclick=" return EditProfile()" name="register" value="Save Changes">
                                                                                    <span id="FormError" style="color: red;"></span>
                                                                                </p>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                <!-- </div>
                                                            </div> -->
                                                        <!-- </div></div> -->
                                                        <!-- End Content Page -->
                                                    

                                                    <!-- <div class="row">
                                                        <div class="container">
                                            
                                                        <div class="col-md-12">
                                                            <h2 class="title-shop-page dark font-bold play-font">My Profile</h2>
                                                            <div class="my-profile-box register-content-box">
                                                                <div class="my-profile-box register-content-box">
                                                                   
                                                                  
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                
                                            </div>
                                        </div>
                                        </div>
                                        
                                        
                                        <!-- End Contact Info -->
                                        <!---<div class="contact-form-faq">
                                            <div class="row">-->
                                                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="contact-form-page">
                                                        <h2 class="title18 dark font-bold text-uppercase play-font">Contact Form</h2>
                                                        <form class="contact-form">
                                                            <p class="contact-name">
                                                                <input class="dark border" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="User name*" type="text">
                                                            </p>
                                                            <p class="contact-email">
                                                                <input class="dark border" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="Email*" type="text">
                                                            </p>
                                                            <p class="contact-message">
                                                                <textarea class="dark border" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" cols="30" rows="10">Your comment*</textarea>
                                                            </p>
                                                            <p class="contact-submit">
                                                                <input  class="shop-button white bg-dark" type="submit" value="Post Comment">
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div> -->
                                                <!---<div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="contact-faq">
                                                        <h2 class="title18 dark font-bold text-uppercase play-font">FAQs</h2>
                                                        <div class="contact-accordion toggle-tab">
                                                            <div class="item-toggle-tab active">
                                                                <h2 class="toggle-tab-title dark">At vero eos et accusamus et iusto</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                            <div class="item-toggle-tab">
                                                                <h2 class="toggle-tab-title dark">Dignissimos ducimus qui blanditiis</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                            <div class="item-toggle-tab">
                                                                <h2 class="toggle-tab-title dark">Raesentium voluptatum deleniti</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                            <div class="item-toggle-tab">
                                                                <h2 class="toggle-tab-title dark">At vero eos et accusamus et iusto</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                            <div class="item-toggle-tab">
                                                                <h2 class="toggle-tab-title dark">Dignissimos ducimus qui blanditiis</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                            <div class="item-toggle-tab">
                                                                <h2 class="toggle-tab-title dark">Raesentium voluptatum deleniti</h2>
                                                                <p class="desc toggle-tab-content dark opaci">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi archi tecto aspernatur assumenda cum inventore labore magnam </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>---->
                                    </div>
                                </div>
                            </div>
                        </section>

                        <script>


                            var CurrentpasswordError=document.getElementById('current-password-error')
                            var NewpasswordError=document.getElementById('new-passsword-error')
                            var NewconfirmpasswordError=document.getElementById('confirm-password-error')
                            var phError=document.getElementById('ph-error')
                            var submitFormError=document.getElementById('FormError')
                           
                            function validateCurrentPassword(){
        
                                    var password=document.getElementById('current-password-check').value
                                    var newpassword=document.getElementById('new-password-check').value

                                    var minNumberofChars = 6;
                                    var maxNumberofChars = 16;
                                    var regularExpression  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/; 
                                    if(password.length==0 && newpassword.length ==0){

                                        return true;
                                    }
                                    else if(password.length < minNumberofChars || password.length > maxNumberofChars){
                                        CurrentpasswordError.innerHTML='password invalid';
                                        return false;
                                    }
                                     else if(!regularExpression) {
                                        CurrentpasswordError.innerHTML='password should be 6 character or number';
                                        return false;
                                    }
                                    else{
                                        CurrentpasswordError.innerHTML ='<i class="fa-solid fa-circle-check"></i>';
                                        return true;
                                    }
                                }



                                function validateNewPassword(){
        
                                    var password=document.getElementById('new-password-check').value
                                
                                    var minNumberofChars = 6;
                                    var maxNumberofChars = 16;
                                    var regularExpression  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/; 
                                    if(password.length==0){

                                        return true;
                                    }
                                    else if(password.length < minNumberofChars || password.length > maxNumberofChars){
                                        NewpasswordError.innerHTML='password invalid';
                                        return false;
                                    }
                                    else if(!regularExpression) {
                                        NewpasswordError.innerHTML='password should be 6 character or number';
                                        return false;
                                    }
                                    else{
                                        NewpasswordError.innerHTML ='<i class="fa-solid fa-circle-check"></i>';
                                        return true;
                                    }
                                }

                                function validateNewConfirmPassword(){
                                        var password=document.getElementById('new-password-check').value;
                                        var Confirmpassword=document.getElementById('confirm-new-password').value;
                                        var currentpassword=document.getElementById('current-password-check').value

                                        console.log("confirm password")
                                            if(Confirmpassword.length==0 && password.length==0){
                                            
                                            
                                                return true;
                                            }
                                            else if(password==Confirmpassword){

                                                NewconfirmpasswordError.innerHTML ='<i class="fa-solid fa-circle-check"></i>';
                                                return true;
                                                
                                            }
                                            else{
                                                NewconfirmpasswordError.innerHTML='check the confirm password';
                                                return false;
                                            }
                                        }

                                        function validatephnumber(){
         
                                            var phone=document.getElementById('ph').value;
                                            if(phone.length == 0 )
                                            {
                                                
                                                return true;
                                            }else
                                            if(phone.length<10||phone.length>10 )
                                            {
                                                phError.innerHTML="10 digits required";
                                                return false;   
                                            }else
                                            if(!phone.match(/^[0-9]{10}$/)){
                                                phError.innerHTML="not valid";
                                                return false; 
                                            }else
                                            phError.innerHTML='<i class="fa-solid fa-square-check"></i>';
                                            return true;

                                        }
                            function EditProfile(){
                                   console.log("validation")
                                   var username =document.getElementById('user-name').value;
                                        var phone =document.getElementById('ph').value;
                                        var current_password =document.getElementById('current-password-check').value;
                                        var new_password_check =document.getElementById('new-password-check').value;
                                        var confirm_new_password =document.getElementById('confirm-new-password').value;
                                        
                                    var submit =document.getElementById('edit-submit').value;
                                    if( ! validateCurrentPassword()|| ! validateNewPassword() || ! validateNewConfirmPassword() || ! validatephnumber() ){
                                        submitFormError.style.display ='block';
                                        submitFormError.innerHTML='please fill the form';
                                        setTimeout(function(){submitFormError.style.display ='none';},3000);
                                        return false;
                                    }
                                    else{
                                        // console.log(user)
                                        console.log(username,'log123');
                                        console.log(phone,'log12afadfadafa3');
                                        console.log(current_password,'log123fafda');
                                        console.log(new_password_check,'log123 new');
                                        console.log(confirm_new_password,'confirm pa')
                                        if(username== '' && phone == '' && current_password == '' && new_password_check == '' && confirm_new_password == '' ){
                                          console.log("elseeeeeeeeeeeeeeeeeeeeeeeeeeeeee")
                                            submitFormError.style.display ='block';
                                        submitFormError.innerHTML='please fill the form';
                                        setTimeout(function(){submitFormError.style.display ='none';},3000);
                                        return false;
                                        }
                                        else{
                                            console.log("trueeeeeeeeeeeee ")
                                            return true;

                                        }

                                      
                                    }
                                    
                                }

                        </script>

                        {% endblock %}